# Ignore virtual environment
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# System files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# VS Code settings
.vscode/